/* CSS VARIABLES */
:root {
    --red:#E50914;
    --black:#000000;
    --white:#f0f8ff;
}
/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}
/* --------------------------------------------------------  */

body{
    background-color:var(--black);
    font-family: 'Times New Roman', Times, serif;
    color: var(--white);
    
}
.cp-mv {
    background: linear-gradient(to left, transparent 0%, #000 50%), url('/img/capa.jpg');
    background-size: cover;

    
}
/* ----------- HEADER ---------- */
header .container {
    display: flex;
    align-items: center;
    padding-top: 1.5em;
}
header .container #Logo{
    width: 7.5em;
    margin: auto 4em auto 4em;
    
}
header .container nav a{
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 1em;
    transition: 0.5s ease all;
}

header .container nav a:hover {
    color: var(--red)
}

/*----------- MAIN ----------*/

.movie {
    font-size: 1.2em;
    font-weight: 800;
    width: 40vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 4em 4em 0em 4em;

}
#logo-mv {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5em;
}
#logo-mv img{
    width: 27em;
    
}

/* Botões */
.btn {
    width: 100%;
}
i {
    margin-right: 10px;
}
.button {
    background-color: rgba(105, 105, 105, .30);
    color: var(--white);
    border: none;
    margin-top: 20px;
    padding: 15px;
    cursor: pointer;
    transition: 0.5s ease all;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 900;
}
.btn1 {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.7);
    color: var(--black);
}

.btn2{
    width: 60%;
}
.btn2:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: var(--black);
}

.box-filme {
    width: 100%;
    height: 100%;
    display: block;
}

.carousel {
    margin: 0px;
    padding-top: 0px;
}

footer{
    /* height: 7em; */
    width: 100%;
    padding: 3em;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    font-size: larger;
    background-color: #E50914;
}




